@media (max-width: 600px) {
  .modal {
    right: auto;
    bottom: auto;
    margin-right: -50%;
    background: transparent;
    color: #000000;
    border: none;
    width: 350px;
    max-height: 400px;
    position: absolute;

    overflow: scroll;
  }
}
